<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QCloudPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>466C0BAD1F271D5B00F566A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466C0BC61F271D5B00F566A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466C0BD11F271D5C00F566A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
